.cursor-dot {
    position: fixed;
    top: -4px;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: var(--primary-teal);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
}

.cursor-outline {
    position: fixed;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-teal);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

.cursor-outline.hovering {
    background-color: var(--primary-teal);
    border: none;
}

@media (max-width: 1024px) {

    .cursor-dot,
    .cursor-outline {
        display: none;
    }
}